<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soluções</title>
</head>
<body>
<main>
    <section>
        <form th:action="@{/solucoes/buscar}" method="GET">
            <label for="keyword">
                Modelo
                <input type="text" name="keyword" id="keyword">
            </label>
            <input type="submit" value="Buscar">
        </form>
    </section>
    <section>
        <div class="buttons">
            <a th:href="@{/}">Voltar</a>
        </div>
        <div class="not-found" th:if="${#lists.isEmpty(solutionList)}">
            <h2>Nenhuma solução encontrada</h2>
        </div>
        <table th:if="${not #lists.isEmpty(solutionList)}">
            <tr>
                <th>#</th>
                <th>Aparelho</th>
                <th>Modelo</th>
                <th>Chassis</th>
                <th>Defeito constatado</th>
                <th>Causa</th>
                <th>Opções</th>
            </tr>
            <tr th:each="solution : ${solutionList}">
                <td>[[${solution.id}]]</td>
                <td>[[${solution.item.name}]] [[${solution.item.brand.name}]]</td>
                <td>[[${solution.item.model}]]</td>
                <td>[[${solution.chassis}]]</td>
                <td>[[${solution.foundIssue}]]</td>
                <td>[[${solution.cause}]]</td>
                <td>
                    <div class="option-list">
                        <a th:href="@{/solucoes/editar/{solutionId}(solutionId=${solution.id})}">Ver</a>
                    </div>
                </td>
            </tr>
        </table>
    </section>
</main>
</body>
</html>