<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>POO II</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
</head>

<aside th:fragment="menu">
    <nav>
        <ul class="menu">
            <li>
                <a class="menu-link"  th:href="@{/solucoes}">
                    <img src="/images/bootstrap-icons/tools.svg" alt="Soluções">
                    Soluções
                </a>
            </li>
            <li>
                <a class="menu-link" th:href="@{/itens}">
                    <img src="/images/bootstrap-icons/stack.svg" alt="Itens">
                    Itens
                </a>
            </li>
            <li>
                <a class="menu-link" th:href="@{/marcas}">
                    <img src="/images/bootstrap-icons/tag-fill.svg" alt="Marcas">
                    Marcas
                </a>
            </li>
        </ul>
    </nav>
</aside>

<footer th:fragment="footer">
    POO II - &copy; 2022 Gabriel Anceski
</footer>