<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marcas</title>
</head>
<body>
<main>
    <section>
        <table>
            <tr>
                <th>#</th>
                <th>Nome</th>
            </tr>
            <tr th:each="brand : ${brandList}">
                <td>[[${brand.id}]]</td>
                <td>[[${brand.name}]]</td>
            </tr>
        </table>
        <div class="buttons">
            <a th:href="@{/marcas/nova-marca}">Nova marca</a>
            <a th:href="@{/}">Voltar</a>
        </div>
    </section>
</main>
</body>
</html>