<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <section>
        <form th:action="@{/solucoes/nova-solucao}" th:object="${solution}" method="POST">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" name="item" id="item" th:value="${solution.item.id}">
            <input type="hidden" name="user" id="user" th:value="${solution.user.id}">
            <div class="form-group">
                <label th:field="*{reportedIssue}">
                    Defeito reportado
                    <input type="text" th:field="*{reportedIssue}">
                </label>
            </div>
            <input type="submit" value="Salvar">
        </form>
        <div class="buttons">
            <a th:href="@{/}">Voltar</a>
        </div>
    </section>
</main>
</body>
</html>